#wrapper { 
    width:960px;
    margin:0 auto;
    border-radius: 5px;
}

.wrapper { 
    width:960px;
    margin:0 auto;
    border-radius: 5px;
}

.first_item {
    padding-top: 220px;
}

h1 {
    background: rgba(0, 0, 0, 0.3);
    font-size: 40px;
    text-align: center;
    opacity: 0.5;
}

* {
    font-family: 'Helvetica', sans-serif;
    box-sizing: border-box;
    list-style-type: none;
}

.back {
    position: relative;
    height: 90%;
    z-index: -99;
    box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.3);
    margin-bottom: 5%;
}